  <ion-header>
    <ion-navbar>
      <ion-title>Register</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <ion-list class="register">
    <ion-item>
      <ion-input type="text" placeholder="Email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Repeat password" required></ion-input>
    </ion-item>

    <button ion-button class="btn register__button" (click)="register()">Register</button>

  </ion-list>
</ion-content>

